.AddGroceryItem {
  margin: 30px 0;
}
.AddGroceryItem-nameInput {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
@media (min-width: 510px) {
  .AddGroceryItem-nameInput {
    display: inline-block;
    width: 280px;
    margin-bottom: 0;
    margin-right: 20px;
  }
}
.AddGroceryItem-qtyInput {
  width: 4ch;
  margin: 0 20px 0 10px;
}
