.GroceryItem {
  display: flex;
}
.GroceryItem:hover {
  background-color: #f5f5f5;
}
.GroceryItem-label,
.GroceryItem-checkbox {
  cursor: pointer;
}
.GroceryItem-label {
  padding: 5px;
  flex: 1 1 auto;
}
.GroceryItem-checkbox {
  margin-right: 10px;
  vertical-align: middle;
}
.GroceryItem-qty {
  margin-left: 5px;
}
.GroceryItem--picked .GroceryItem-name {
  text-decoration: line-through;
}
