.GroceryList {
  max-width: 500px;
  margin: 20px 0 20px;
}
.GroceryList-title {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
}
.GroceryList-emptyMessage {
  color: #777;
}
